.contact-btn-anim {
    /*esto es para animar el boton*/
  transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
}
.contact-btn-anim:hover {
 /*esto es para animar el boton pt2*/
  background:yellow;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
